header {
    background-image: url(https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcTZNeoaKHKt57uanY7ts7IYlqJll_ZDh4VJSZvyV95ao2cvasoRVxGogsO8x2pAav-rJv0-Raq1pvdO5Bd7Aqm5SIV-cEUX6AN64qprdw);
    height: 150px;
    background-size: cover;
    background-position: center;
}
nav {}
